@import 'azure-devops-ui/Core/override.css';
@import '../styles/mixins.scss';
@include extension-container('modal-container');

.flex-one {
  flex: 1;
}

.filter-modal-callout {
  .bolt-callout-modal {
    background-color: var(--palette-black-alpha-0) !important;
  }
}
.filter-card {
  box-shadow: none !important;
  border: 1px solid rgba(var(--palette-neutral-0), 1) !important;

  &-error {
    border: 1px solid var(--status-error-text) !important;
  }
}
